.pay{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    border: 1px solid;
    padding: 20px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pay-in{
    width: 50%;
}
