.reset-page {
    margin-top: 5em;
    border-radius: 20px;
    box-shadow: 2px 2px rgb(243, 243, 243);
    background: linear-gradient(#e66465, #9198e5);
    
    small {
        font-size: 10px;
    }
}

.forgot .list-unstyled {
    font-size: 14px;
}

.form-group label {
    font-size: 20px;
}

.btn {
    font-size: 18px;
}

.custom-well {
    border: 2px dashed;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 1em;
}