.login-page {
    margin-top: 15em;
    border-radius: 20px;
    box-shadow: 2px 2px rgb(247, 245, 245);
    background: linear-gradient(#e66465, #9198e5);
}

.form-group label {
    font-size: 20px;
}

.btn {
    font-size: 18px;
}